@media (max-width: 782px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #logo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 5px;
  }
  #navMenu {
    display: none;
  }
  #botonMenuHamburger {
    display: flex;
  }

  #pantallaPrincipal {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #operacionesbtn {
    display: flex;
  }
  #pantallaPrincipalBalance {
    width: 100%;
  }
  #seccionOperaciones {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
  }
  .menuLi {
    gap: 10px;
    margin: 10px;
  }
}
